@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #cfd8dc;
  font-size: 16px;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 26px;
  text-align: center;
}

h4 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 22px;
}

p {
  color: #0d47a1;
  font-family: sans-serif;
}

/* Navbar */
#title {
  text-decoration: uppercase;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #cfd8dc;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  font-family: 'Shadows Into Light', cursive;
  font-size: 22px;
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: #0d47a1;
}

nav a:hover {
  color: #264d87;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

/* All Images */
img {
  display: block;
  height: 300px;
  width: 400px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* Showcase */
.showcase {
  width: 100%;
  height: 50vh;
  position: relative;
  background: url('../images/background.jpeg') no-repeat center center/cover;
}

.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.showcase-content {
  position: relative;
  z-index: 2;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.showcase-content h1 {
  color: #fff;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.1;
  margin: 9rem 0 2rem;
}

.showcase-content p {
  font-family: 'Shadows Into Light', cursive;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

/* Recipe Page Container */
.container {
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
}

/* Home Page Recipe Cards */
.card-container {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  gap: 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  text-align: center;
  align-items: center;
  flex: 1;
}

/* Ingredient Lists */
li {
  line-height: 1.5;
  margin-left: 25px;
  font-family: sans-serif;
}

.description,
.ingredients,
.directions {
  padding-top: 25px;
}

/* Directions Lists */

.directions > p {
  margin-bottom: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  nav li {
    padding: 0.5rem 0;
  }
}
